*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Noto Sans", sans-serif;
}


.btn-link{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #547d68;
    padding: 8px 32px;
    border-radius: 24px;
    color: #e4e4e4;
    transition: all 0.5s ease;
}

.btn-link:hover{
    background-color: #213128;
}
.flex-link{
    display: inline-flex;
    gap: 5px;
    align-items: center;
}

.flex-link > img{
    width: 18px;
}

.header{
    height: 100vh;
    width: 100%;
    background: linear-gradient(55deg, #e4e4e4 60%, #547d68 30%);
    margin-bottom: 4rem;
}

.header-top{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 10vh;
    align-items: center;
}

.logotype{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
}
.green-color{
    color: #547d68;
}

.language{
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.language-items > a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.active-lang{
    background-color: #6da387;
    padding: 8px;
    border-radius: 12px;
}

.hero{
    display: grid;
    width: 100%;
    grid-template-rows: 90.5vh;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.my-name > span{
    font-weight: bold;
    font-size: 1.5rem;
}

.my-name > h1{
    font-weight: bold;
    font-size: 4rem;
    margin:  -15px 0px;
}

.my-profession{
    font-weight: bold;
}
.my-info{
    text-align: justify;
}
.message-me{
    margin-top: 1rem;
}

.hero-img{
    justify-self: center;
    align-self: end;
    display: flex;
}

.hero-img > img{
    height: 650px;
}

.education{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem 2rem;
    grid-template-rows: repeat(4, auto);
    margin-bottom: 4rem;
}

.education-title{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.education-title > h2{
    font-size: 6rem;
    line-height: 5rem;
}

.education-info {
    grid-area: 1 / 2 / 4 / 3;
}

.education-info > h3{
    font-size: 2.5rem;
}
.education-time {
    padding-top: 5px;
    width: 100px;
}
.education-info-items{
    display: flex;
    flex-direction: column;
}
.education-info-item{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    border-top: 3px solid #547D68;
    margin-top: 1rem;
    padding: 0.5rem 0rem;
}
.education-name-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.education-name-ucniversity{
    font-size: 1.5rem;
    font-weight: bold;
}
.education-diploma{
    font-size: 0.9rem;
    color: #6da387;
}

.skills > h3 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.skills-items{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: 3rem;
    justify-content: space-between;
    align-items: center;
}

.skill-item > img{
    height: 3rem;
}

.work-experience{
    background-color: #547D68;
    margin-bottom: 4rem;
}

.work-box{
    padding-top: 4rem !important;
    color: #e4e4e4;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 150px auto;
    gap: 1rem 2rem;
    height: 100vh;
}

.work-title{
    font-size: 3.5rem;
    line-height: 4rem;
}
.work-images-block{
    grid-area: 2/1/3/2;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.work-images-block > img{
    width: auto;
    height: 465px;
}

.work-item{
    border-left: 5px solid #e4e4e4;
    padding: 0rem 1rem;
    margin-left: 2px;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 170px 2fr;
    grid-template-rows: repeat(5,auto);
}
.work-date{
    grid-area: 1/1/5/2;
}

.work-company{
    font-weight: bold;
}
.work-city{
    font-size: 0.9rem;
    color: #8cd6af;
}

.work-information {
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 120px;
    gap: 1rem;
}

.my-projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
}

.projects-title {
    grid-area: 1 / 3 / 2 / 4;
}
.projects-title > h2{
    font-size: 6rem;
    line-height: 5rem;
}
.project-block {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.project-image{
    width: 100%;
    height: 257px;
    overflow: hidden;
}

.project-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
    transition: transform 0.5s ease;
    
}

.project-image > img:hover{
    transform: scale(1.02);
}
.project-1 {
    grid-area: 1 / 1 / 4 / 2;
}
.project-2{
    grid-area: 1 / 2 / 4 / 3;
}

.project-information{
    grid-area: 2/3/4/4;
    background: linear-gradient(62deg, #213128, #4b6f5c, #6da387, #8cd6af);
    animation: gradient 15s ease infinite; 
    background-size: 400% 400%;
}

@-webkit-keyframes gradient{
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
       background-position: 0% 50%;
    }
  }
  @keyframes gradient{
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
       background-position: 0% 50%;
    }
  }

.project-text{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.project-title{
    color: #4b6f5c;
    margin-bottom: 0.2rem;
    font-weight: 300;
}
.p02-block-project{
    padding-bottom: 0.2rem;
    border-bottom: 2px solid #4b6f5c;
}

.project-description-txt{
    font-weight: 300;
}

.project-tools-items{
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-tools-items > img{
    height: 34px;
}
.btn-full-block{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-full-block > a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #4b6f5c;
    color: #e4e4e4;
    font-weight: bold;
    width: 100%;
    min-height: 47px;
    border-radius: 0rem  0rem 1rem 1rem;
    transition: all 0.5s ease;
}

.btn-full-block > a:hover{
    background-color: #213128;
}

.project-information{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e4e4e4;
    font-size: 4rem;
    font-weight: lighter;
}

.contact-social img{
    height: 2rem;
}
.contact{
    background-image: url(../accest/images/bg-contact.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 100%;
    padding-bottom: 4rem;
}
.contact-box{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 2rem;
    border-radius: 2rem;
    background-image: url(../accest/images/contact-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact-welcome > h2{
    font-size: 3rem;
}
.contact-welcome > p{
    color: #4b6f5c;
}
.contact-information{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.contact-information p{
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #4b6f5c;
    margin-bottom: 0.06rem;
}
.contact-information a{
    text-decoration: none;
    color: #213128;
}
.contact-link{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}


.contact-social{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.contact-social a{
    transition: all 0.5s ease;
}
.contact-social a:hover{
    transform: scale(1.2);
}
@media (min-width: 1201px){
    .container{
        max-width: 100%; 
        margin: 0 auto;    
        padding: 0 40px;   
        box-sizing: border-box; 
    }
}
@media  (max-width: 1200px){
    .container{
        max-width: 1120px; 
        margin: 0 auto;    
        padding: 0 40px;   
        box-sizing: border-box; 
    }
    .hero-img > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .education-title {
        gap: 0.5rem;
    }
    .skills > h3 {
        margin-bottom: 1rem;
    }
    .work-images-block{
        display: none;
    }
    .work-experience {
        padding-bottom: 2rem;
    }
    .work-box {
        grid-template-columns: 1fr;
        grid-template-rows: 175px auto;
        gap: 1rem;
        padding-top: 2rem !important;
        height: 100%;
    }
    .work-information {
        grid-area: 2 / 1 / 2 / 3;
        grid-auto-rows: auto;
    }
    .project-information{
        font-size: 3rem;
    }

    .project-image {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 952px; 
        margin: 0 auto;    
        padding: 0 20px;   
        box-sizing: border-box; 
    }
    
    
    .education{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .education-title {
        grid-area: 1 / 1 / 2 / 3;
    }
    .education-title > h2 {
        font-size: 12vw;
        line-height: 10vw;
    }
    .skills {
        grid-area: 2 / 1 / 3 / 3;
    }

    .education-info {
        grid-area: 3 / 1 / 4 / 3;
    }

    .my-projects {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:repeat(3,1fr);
    }
    .projects-title {
        grid-area: 1 / 1 / 2 / 4;
    }
    .project-1 {
        grid-area: 2 / 1 / 4 / 3;
    }
    .project-2 {
        grid-area: 2 / 3 / 4 / 5;
    }
    .project-information{
        grid-area: 1 / 3 / 2 / 5;
    }
    
}

@media (max-width: 800px){
    
    .header {
        height: 100%;
    }
    .hero {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .my-name > h1 {
        line-height: 3.5rem;
        margin: 0;
    }
    .my-name > span {
        -webkit-text-stroke: 0.2px #e4e4e4;
    }
    .work-information{
        grid-template-columns: 1fr 1fr;
    }
    .work-item{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 756px){

    .my-projects {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 160px repeat(3, 1fr);
    }
    .project-information {
        grid-area: 4 / 1 / 5 / 5;
    }
    .projects-title {
        grid-area: 1 / 1 / 2 / 5;
    }
}

@media (max-width: 576px){
    .header{
        background: linear-gradient(55deg, #e4e4e4 80%, #547d68 20%);
        margin-bottom: 2rem;
    }
    .work-title {
        font-size: 3rem;
        line-height: 3rem;
    }
    .projects-title > h2 {
        font-size: 4rem;
        line-height: 3.5rem;
    }
    .my-projects {
        gap: 1.5rem;
        grid-template-rows: 130px repeat(2, 1fr);
        margin-bottom: 2rem;
    }
    .project-1 {
        grid-area: 2 / 1 / 3 / 5;
    }
    .project-2 {
        grid-area: 3 / 1 / 4 / 5;
    }
    .project-information{
        display: none;
    }
    .work-information {
        grid-template-columns: 1fr;
    }
    .work-title {
        font-size: 2.5rem;
    }
    .work-box{
        grid-template-rows: 110px auto;
    }
    .education{
        margin-bottom: 2rem;
    }
    .work-experience{
        margin-bottom: 2rem;
    }
    .contact-welcome > h2{
        font-size: 9vw;
    }
}

@media (max-width:320px){
    .header-top{
        margin-bottom: 1rem;
    }

    .logotype{
        line-height: 1.5rem;
    }
    .hero {
        grid-template-rows: 1fr auto;
    }
    .my-name > h1{
        font-size: 2rem;
        line-height: 2rem;
    }
    .work-title {
        font-size: 2rem;
    }
}