*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Noto Sans", sans-serif;
}

.container{
    max-width: 100%;
    margin: 0 3rem;
}

.btn-link{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #547d68;
    padding: 8px 32px;
    border-radius: 24px;
    color: #e4e4e4;
    transition: all 0.5s ease;
}
.flex-link{
    display: inline-flex;
    gap: 5px;
    align-items: center;
}

.flex-link > img{
    width: 18px;
}
.btn-link:hover{
    background-color: #4b6f5c;
}
.header{
    height: 100vh;
    width: 100%;
    background: linear-gradient(55deg, #e4e4e4 60%, #547d68 30%);
    margin-bottom: 4rem;
}

.header-top{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 10vh;
    align-items: center;
}

.logotype{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
}
.green-color{
    color: #547d68;
}

.language{
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.language-items > a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.active-lang{
    background-color: #6da387;
    padding: 8px;
    border-radius: 12px;
}

.hero{
    display: grid;
    width: 100%;
    grid-template-rows: 90.5vh;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.my-name > span{
    font-weight: bold;
    font-size: 1.5rem;
}

.my-name > h1{
    font-weight: bold;
    font-size: 4rem;
    margin:  -15px 0px;
}

.my-profession{
    font-weight: bold;
}
.my-info{
    text-align: justify;
}
.message-me{
    margin-top: 1rem;
}

.hero-img{
    justify-self: center;
    align-self: end;
    display: flex;
}

.hero-img > img{
    height: 650px;
}

.education{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem 2rem;
    grid-template-rows: repeat(4, auto);
    margin-bottom: 4rem;
}

.education-title{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.education-title > h2{
    font-size: 6rem;
    line-height: 5rem;
}

.education-info {
    grid-area: 1 / 2 / 4 / 3;
}

.education-info > h3{
    font-size: 2.5rem;
}
.education-time {
    padding-top: 5px;
    width: 100px;
}
.education-info-items{
    display: flex;
    flex-direction: column;
}
.education-info-item{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    border-top: 3px solid #547D68;
    margin-top: 1rem;
    padding: 0.5rem 0rem;
}
.education-name-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.education-name-ucniversity{
    font-size: 1.5rem;
    font-weight: bold;
}
.education-diploma{
    font-size: 0.9rem;
    color: #6da387;
}

.skills > h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.skills-items{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: 3rem;
    justify-content: space-between;
    align-items: center;
}

.skill-item > img{
    height: 3rem;
}

.work-experience{
    background-color: #547D68;
}

.work-box{
    padding: 4rem 0rem 0rem 0rem;
    color: #e4e4e4;
    display: grid;
    grid-template-columns: 468px 2fr;
    grid-template-rows: 150px auto;
    gap: 1rem 2rem;
    height: 100vh;
}

.work-title{
    font-size: 3.5rem;
    line-height: 4rem;
}
.work-images-block{
    grid-area: 2/1/3/2;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.work-images-block > img{
    width: auto;
    height: 500px;
}

.work-item{
    border-left: 5px solid #e4e4e4;
    padding: 0rem 1rem;
    margin-left: 2px;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 170px 2fr;
    grid-template-rows: repeat(5,auto);
}
.work-date{
    grid-area: 1/1/5/2;
}

.work-company{
    font-weight: bold;
}
.work-city{
    font-size: 0.9rem;
    color: #8cd6af;
}

.work-information{
    grid-area: 1/2/3/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px;
    gap: 1rem;
}
/*Tablet*/
@media (min-width: 481px) and (max-width: 1200px){
    .container{
        max-width: 1200px;
    }
    .my-name > h1 {
        font-size: 2rem;
        margin: 0px;
    }
    .hero-img > img{
        height: 520px;
    }
    .work-box{
        grid-template-columns: 470px 1fr;
        grid-template-rows: 150px 1fr 1fr;
        height: 100%;
    }
    .work-title{
        grid-area: 1/2/2/3;
        font-size: 3rem;
        line-height: 3rem;
    }
    .work-images-block{
        grid-area: 1/1/2/2;
        justify-content: center;
    }
    .work-images-block > img {
        height: 400px;
    }
    .work-information{
        grid-area: 2/1/5/3;
        grid-template-columns: 470px 1fr;
    }
}

@media (max-width: 768px){
    .hero{
        grid-template-rows: 50% 50%;
        grid-template-columns: 1fr;
        align-items: center;
    }
    .header{
        height: 100%;
        background: linear-gradient(65deg, #e4e4e4 65%, #547d68 35%);
    }
    .education{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
    .education-info {
        grid-area: 3 / 1 / 4 / 2;
    }
    .work-box {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 1fr;
        height: 100%;
    }
    .work-images-block{
        display: none;
    }
    .work-information {
        grid-area: 2 / 1 / 3 / 2;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }
    .work-title {
        grid-area: 1 / 1 / 2 / 2;
    }
}
@media (max-width: 651px){
    .header{
    background: linear-gradient(75deg, #e4e4e4 65%, #547d68 35%);
    }
}

@media (max-width: 601px){
    .hero-img > img{
        height: 325px;
    }
    .hero {
        margin-top: 1rem;
    }
}

/*Mobile*/
@media (min-width: 319px) and (max-width: 480px){
    .logotype{
        font-size: 16px;
    }
    .container{
        max-width: 480px;
    }

    .my-name > h1 {
        font-size: 2rem;
        margin: 0;
    }
    .hero {
        margin-top: 1.5rem;
    }
    .header, .education{
        margin-bottom: 2rem;
    }
    .work-box {
        grid-template-rows: 120px 1fr;
    }
    .work-title{
            font-size: 2.5rem;
            line-height: 3rem;
    }
}

@media (max-width: 426px) {
    .container {
        margin: 0 2rem;
    }
    .header {
        background: linear-gradient(60deg, #e4e4e4 75%, #547d68 25%);
    }

    .hero-img > img{
        height: 250px;
    }

    .hero {
        margin-top: 4rem;
    }

    .my-name > h1 {
        font-size: 1.5rem;
    }
    .education{
        gap: 2rem;
    }
    .skills > h3{
        margin-bottom: 1rem;
    }
    .education-title {
        gap: 1rem;
    }
    .education-title > h2 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .education-time {
        width: auto;
    }
    
}
@media (max-width: 376px){
    .work-item{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 320px){
    .container {
        margin: 0 1rem;
    }
    .hero-img > img{
        display: none;
    }
    .hero {
        grid-template-rows: 100%;
        margin-top: 0.5rem;
    }
    .message-me {
        margin-bottom: 2rem;
    }
    .work-box {
        grid-template-rows: 100px 1fr;
    }
    .work-title{
        font-size: 2rem;
        line-height: 2rem;
    }
}